<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head.ejs')%>
</head>
<body>
    <%-include('./inc/navbar.ejs')%>
    <h1 class="about">Hakkimizda</h1>
    <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eum perferendis maxime velit ipsum quod laboriosam distinctio in vero repellat, ut incidunt praesentium nobis iusto rem. Nisi pariatur distinctio atque.
    Aperiam pariatur architecto nemo ex nihil voluptatum provident nesciunt facere laboriosam. Provident quidem assumenda debitis vitae at et tempore aliquam libero placeat harum. Labore est velit quisquam possimus nulla earum?
    
    Ad repellendus quis perspiciatis officia facere quam asperiores numquam, harum ipsa autem! Saepe enim quas possimus reprehenderit est, dicta officiis molestiae, cupiditate illo molestias commodi nam debitis, explicabo dolore? Eum?
    Consequatur explicabo veniam sapiente molestiae ullam? Sequi veniam minus temporibus aperiam quidem corrupti fuga earum voluptas. Modi, quas reiciendis nihil tempora quod eveniet cupiditate voluptatem error nesciunt possimus recusandae id?
    Quae nostrum molestiae perspiciatis laborum fugit cum hic mollitia consequuntur libero reprehenderit nobis repellat facere magni expedita dolorem cumque sequi quidem, distinctio quia ut blanditiis odit provident molestias. Impedit, magni!</p>
</body>
</html>