<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head.ejs')%>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('./inc/navbar.ejs')%>
    <h1 class="about"><%=blog.title%></h1>
    -----------------------------
    <p class="about-p"> <%=blog.long%></p>
</body>
</html>