<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head.ejs')%>
</head>
<body>
    <%-include('./inc/navbar.ejs')%>
    <form action="" method="post">
        <input type="text" name="username" required>
        <input type="password" name="password">
        <input type="submit" value="Gönder">
    </form>
</body>
</html>